body {
    margin: 0;
    /*background: #f0f2f5;*/
}
.item {
    display: flex;
    background: #FFF;
    border-top: 16px solid #f9f0ff;
}
.item:first-child {
    border-top: 0;
}
.left-img {
    display: flex;
}
.img-avatar, .img-wx {
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.img-middle {
    margin-left: 6px;
    margin-right: 6px;
}
.img-item {
    width: 97px;
    height: 97px;
    cursor: pointer;
}
.img-item:first-child {
    margin-bottom: 6px;
}
img {
    width: 100%;
    height: 100%;
}
.right-content {
    flex: 1;
    padding: 10px;
}
.text-row {
    margin-top: 10px;
}
.text-row:first-child {
    margin-top: 0;
}
.text-item {
    margin-left: 10px;
    padding: 4px 10px;
    border-radius: 16px;
    background: #fff1f0;
    color: #cf1322;
    border: 1px solid #ffa39e;
    display: inline-block;
}
.text-remark {
    background: #f9f0ff;
    color: #531dab;
    border: 1px solid #d3adf7;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.popup img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}